 NET  "sdcard.ss"   LOC = L15; #"JA1" 
 NET  "sdcard.mosi" LOC = K12; #"JA2" 
 NET  "sdcard.miso" LOC = L17; #"JA3" 
 NET  "sdcard.sck"  LOC = M15; #"JA4" 
 NET  "sdcard.dat1" LOC = K13; #"JA7" 
 NET  "sdcard.dat2" LOC = L16; #"JA8" 
 NET  "sdcard.cd"   LOC = M14; #"JA9" 
 NET  "sdcard.wp"   LOC = M16; #"JA10"
#NET  "sdcard" GND        #"JA5" 
#NET  "sdcard" VCC        #"JA6" 
#NET  "sdcard.ss" GND        #"JA11"
#NET  "sdcard.ss" VCC        #"JA12"
